.DS_Store
.idea
*.log
tmp/


config.el
config.org
custom.el

/setup.sh
/snippets/beancount-mode/.yas-compiled-snippets.el
/snippets/c-mode/.yas-compiled-snippets.el
/snippets/latex-mode/.yas-compiled-snippets.el
/snippets/org-mode/.yas-compiled-snippets.el
/snippets/python-mode/.yas-compiled-snippets.el
/.ispell_personal
/.ispell_personal1
/abbrev_defs.el
/banners/
/custom.el~
